@{
    ViewData["Title"]="Checkout";
}
<div class="text-center">
    <br>
    <br>
    <img src="https://logonoid.com/images/essence-logo.png">
    <br>
    <br>
    <br>
    <h2>Thanks For Your Purcase</h2>
    <br>
        <h4>
            Your Order Was Completed Successfully
        </h4>
</div>
